# SPDX-FileCopyrightText: Copyright 2026 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0

.git
build
external/vcpkg
.mypy_cache
.venv
python/build
python/dist
python/astl.egg-info
**/__pycache__
